#loadingProgress{
	position: absolute;
	top: 200px;
	left: 200px;
	width:250px;
	height:19px;
	overflow:hidden;
	background-color:rgb(255, 255, 255);
	border: 1px solid;
	border-color: rgba(0, 0, 0, .2);
	margin:auto;
	border-radius:10px;
		-o-border-radius:10px;
		-ms-border-radius:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:10px;
}

.progress-bar{
	background-color: #fce093;
	width: 250px;
	height: 25px;

	-webkit-animation-name: progress-bar;
	animation-name: progress-bar;
	/*动画速度变化*/
	-webkit-animation-timing-function: ease-in-out;
  	animation-timing-function: ease-in-out;
	/*动画循环效果*/
    -webkit-animation-direction: normal;
    animation-direction: normal;
	/*动画播放次数*/
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
	/*动画需要时间*/
	-webkit-animation-duration: 2s;
	animation-duration: 2s;

}
@keyframes progress-bar{
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@-o-keyframes progress-bar{
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@-ms-keyframes progress-bar{
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@-webkit-keyframes progress-bar{
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

@-moz-keyframes progress-bar{
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}